<html>
	<body>
		<form action='/result' method='post'>
			Your Name:
			<input type='text' name='name'><br>
			Dojo Location:
			<select name="location">
			    <option value="SJ">SJ</option>
			    <option value="Burb">Burb</option>
			</select><br>
			Favorite Language:
			<select name="language">
			    <option value="Python">Python</option>
			    <option value="Tagalog">Tagalog</option>
			</select><br>
			Comment:
			<textarea name="comment"></textarea><br>
			<input type='submit' value='Submit'>
<!-- 			{% with messages=get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %} -->
		</form>
	</body>
</html>